@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100;300;500;700 & display=swap' );

*{
    font-family: 'Roboto', sans-serif;
}

.container{
    border: 5px solid rgb(15, 109, 192);
    border-radius: 10px;
    margin: 250px auto;
    padding: 100px;
    text-align: center;
    height: 250px;
    width: 500px;
    display: block;
}

h1{
    font-weight: 700;
}

#valor{
    font-size: 130px;
    color: rgb(15, 109, 192);
}

button{
    background-color: transparent;
    font-size: 15px;
    font-weight: 700;
    
    /*para ficar uma mao quando passar em cima do botão*/
    cursor: pointer;
    border: 2px solid rgb(15, 109, 192);;
    border-radius: 10px;
    padding: 10px;
}

button:hover{
    background-color: rgb(15, 109, 192);
}

button:active{
    background-color: rgb(15, 109, 192);
}